<?xml version="1.0" encoding="UTF-8"?>
<!--Copy code below into your own phpunit.xml file-->

<!-- Using this project's bootstrap file allows tests in `ExistingSite`, `ExistingSiteSelenium2` and `ExistingSiteWebDriver
     to run alongside core's 4 test types. -->
<phpunit bootstrap="vendor/weitzman/drupal-test-traits/src/bootstrap.php">
    <php>
        <env name="DTT_BASE_URL" value="http://example.com"/>
        <env name="DTT_API_URL" value="http://localhost:9222"/>
        <env name="DTT_MINK_DRIVER_ARGS" value="['firefox', null, 'http://localhost:4444/wd/hub']"/>
        <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
        <!-- @todo Update this once https://www.drupal.org/node/2992069 is fixed. -->
        <!-- The html files are not going into the BROWSERTEST_OUTPUT_DIRECTORY. -->
        <!-- Instead they are going into /sites/simpletest/browser_output regardless. -->
        <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
    </php>
    <!-- Automatically run all ExistingSite tests alongside unit, and kernel
         tests in custom code. -->
    <testsuites>
        <testsuite name="unit">
            <directory>./web/modules/custom/*/tests/src/Unit</directory>
        </testsuite>
        <testsuite name="kernel">
            <directory>./web/modules/custom/*/tests/src/Kernel</directory>
        </testsuite>
        <testsuite name="existing-site">
            <!-- This assumes tests are namespaced as
                 `\Drupal\Tests\custom_module_foo\ExistingSite`. -->
            <directory>./web/modules/custom/*/tests/src/ExistingSite</directory>
        </testsuite>
        <testsuite name="existing-site-javascript">
            <!-- This assumes tests are namespaced as
                 `\Drupal\Tests\custom_module_foo\ExistingSiteJavascript`. -->
            <directory>./web/modules/custom/*/tests/src/ExistingSiteJavascript</directory>
        </testsuite>
    </testsuites>
</phpunit>
